body {
  background-color: var(--Light-grayish-blue);
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 0;
}
.testimonials-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.8rem;
  row-gap: 2.4rem;
  width: 85%;
  max-width: 111rem;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem 3rem;
  border-radius: 1rem;
  grid-column: span 4;
  transition: all 1s;
}

.card:hover {
  transform: scale(1.04) !important;
}
.card-4 {
  grid-area: 5/1/6/5;
}
.author {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.author-name {
  font-weight: 600;
}
.author-img {
  border-radius: 50%;
  width: 3rem;
}
.author-description {
  opacity: 50%;
  margin-top: -2px;
}
.highlight-comment {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
}
.comment {
  opacity: 70%;
}
.card-3,
.card-4 {
  background-color: var(--White);
  color: var(--Very-dark-grayish-blue);
}
.card-1,
.card-2,
.card-5 {
  color: var(--White);
}
.card-1 {
  background: no-repeat right 20% top 0
      url("../images/bg-pattern-quotation.svg"),
    var(--Moderate-violet);
}
.card-2 {
  background-color: var(--Very-dark-grayish-blue);
}
.card-5 {
  background-color: var(--Very-dark-blackish-blue);
}
.card-1 .author-img {
  border: 2px solid hsla(0, 0%, 100%, 50%);
}
.card-5 .author-img {
  border: 2px solid var(--Moderate-violet);
}
h1 {
  font-size: inherit !important;
}
